@import 'choices.js/public/assets/styles/choices.css';

.cm-WooPreviewEmail {
  display: flex;
  flex-wrap: wrap;
  transition: 0.8s all;

  .tool-bar-toggler {
    left: 25%;
    position: fixed;
    top: 0;
    padding: 1em;
    min-width: 200px;
    transition: 0.4s all;

    &.hidden {
      left: 0;

      svg {
        rotate: 180deg;
      }

      .show-controls {
        display: none;
      }
    }

    .show-controls,
    .hide-controls {
      display: none;
    }

    svg {
      width: 20px;
      height: 20px;
      padding: 0.25em;
      border: 2px solid #ccc;
      border-radius: 50%;
      stroke-width: 3px;
      color: #ccc;
    }

    a,
    a:visited {
      text-decoration: none;
      color: #646970;
    }

    a:hover {
      color: #2271b1;
    }
  }

  #tool-options {
    width: 30%;
    padding: 2em;
    background: #fff;

    &.hidden {
      display: none;
    }

    .button-primary {
      background: #007cba;
      border-color: #007cba;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
      display: inline-block;
      font-size: 13px;
      line-height: 2.15384615;
      min-height: 30px;
      margin: 0;
      padding: 0 10px;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: none;
      border-radius: 3px;
      white-space: nowrap;
      box-sizing: border-box;
    }
  }

  .cm-WooPreviewEmail-emailContent {
    flex-grow: 1;

    &__plain {
      white-space: pre;
    }
  }

  @media screen and (max-width: 767px) {
    #tool-options,
    .cm-WooPreviewEmail-emailContent {
      width: 100%;
    }
  }
}

.choices[data-type*=select-one] {
  max-width: 25rem;
}

.choices__inner {
  min-height: auto !important;
  background: #fff;
}

form#woocommerce-preview-email {
  label {
    line-height: 1.5
  }
}

.cm-woo-preview-emails-form {
  margin-top: 1em;
  &__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
  }

  &__label {
    width: 100px;
  }

  &__input-field {
    width: 350px;
    &--select-mail{
        display: flex;
    }
  }

  label {
    font-weight: bold;
  }
}
