@import 'choices.js/public/assets/styles/choices.css';

.cm-WooPreviewEmail {
  display: flex;
  flex-wrap: wrap;
  transition: 0.8s all;

  .tool-bar-toggler {
    left: 25%;
    position: fixed;
    top: 0;
    padding: 1em;
    min-width: 200px;
    transition: 0.4s all;

    &.hidden {
      left: 0;

      svg {
        rotate: 180deg;
      }

      .show-controls {
        display: none;
      }
    }

    .show-controls,
    .hide-controls {
      display: none;
    }

    svg {
      width: 20px;
      height: 20px;
      padding: 0.25em;
      border: 2px solid #ccc;
      border-radius: 50%;
      stroke-width: 3px;
      color: #ccc;
    }

    a,
    a:visited {
      text-decoration: none;
      color: #646970;
    }

    a:hover {
      color: #2271b1;
    }
  }

  #tool-options {
    width: 30%;
    height: 100vh;
    padding: 2em;
    background: #fff;

    &.hidden {
      display: none;
    }

    .button-primary {
      background: #007cba;
      border-color: #007cba;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
      display: inline-block;
      font-size: 13px;
      line-height: 2.15384615;
      min-height: 30px;
      margin: 0;
      padding: 0 10px;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: none;
      border-radius: 3px;
      white-space: nowrap;
      box-sizing: border-box;
    }

    .button-secondary {
      color: #2271b1;
      border-color: #2271b1;
      background: #f6f7f7;
      vertical-align: top;
      border: 1px solid;
      border-radius: 5px;
    }
    //design needed for preview page only
    #email{
      padding: 0.75em;
    }
  }

  #tool-wrap {
    p {
      text-align: left;
    }
  }

  .cm-WooPreviewEmail-emailContent {
    flex-grow: 1;

    &__plain {
      white-space: pre;
    }
  }

  @media screen and (max-width: 767px) {
    #tool-options,
    .cm-WooPreviewEmail-emailContent {
      width: 100%;
    }
  }
}

form#woocommerce-preview-email {
  label {
    line-height: 1.5
  }
}

.cm-woo-preview-emails-form {
  margin-top: 1em;

  .description {
    text-align: left;
    max-width: 100%;
  }

  .choices__inner {
    min-height: auto !important;
    background: #fff;
    box-sizing: border-box;
  }

  &__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
  }

  &__label {
    width: 100px;
    text-align: left;
  }

  &__input-field {
    width: 350px;
    text-align: left;

    &--select-mail {
      display: flex;
      gap: 0.25em;

      #email {
        flex-grow: 1;
        border: 1px solid #ddd;
      }
    }
  }

  label {
    font-weight: normal;
  }

  select {
    font-size: 14px;
    line-height: 2; /* 28px */
    color: #2c3338;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    /* The SVG is arrow-down-alt2 from Dashicons. */
    background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
  }
}
